@model Estacionamento.Models.EstacionamentoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EstacionamentoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdeVagasP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdeVagasP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdeVagasM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdeVagasM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdeVagasG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdeVagasG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
